.footer {
  background-color: #1e1e1e;
  color: #fff;
  padding: 50px 20px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1 1 200px;
  margin-bottom: 20px;
}

.footer-item {
  font-family: system-ui, "Segoe UI Emoji", "Apple Color Emoji", sans-serif;
  color: #aaa;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.6;
}

.footer-title {
  font-weight: bold;
  color: white;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  margin-bottom: 8px;
}

.footer-item:hover {
  color: #ffffff;
}

.footer-contact,
.footer-trustpilot {
  font-size: 0.85rem;
  color: #bbbbbbcb;
  margin-top: 10px;
}

.footer-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.footer-icons svg {
  color: #bbbbbb;
  transition: color 0.3s ease;
}

.footer-icons svg:hover {
  color: #ffffff;
}
